.footer {
  // margin: 1rem 0;
}

.accordion {
  display: none;
  margin: 1rem 0;
  box-shadow: none !important;
  &__header {
    height: 4rem;
  }

  &__link {
    color: rgba(0, 0, 0, 0.58);
    font-weight: 400;
    padding: 0.8rem;
    cursor: pointer;

    &:hover {
      color: black;
      transition: all 0.3s;
    }
  }
  &:before {
    height: 0px !important;
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .accordion {
    display: block;
  }
}
